<article id = "about us">
	<h1> About Us </h1>
	<p>
		Hello everyone. We're a group of hackers. We love front-end programming and this website will help you find the best movie reviews and find like-minded people who share the same passion with you in movies! 
		
	</p>
</article>