<article id = "top_rated_movies">
	<h1> Top Rated Movies</h1>
	<br>
	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">Pan</div>
	</div>

	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie1.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">Minions</div>
	</div>

	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie2.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">Inside Out</div>
	</div>

	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie3.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">The Hunger Games</div>
	</div>

	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie4.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">The Hateful Eight</div>
	</div>

	<div class="img">
  		<a target="_blank" href="/">
    		<img src="/images/topmovie5.jpg" alt="topmovie1" width="300" height="200">
  		</a>
  		<div class="desc">Shaun the Sheep Movie</div>
	</div>
	
</article>